@id("Only the owner of a TodoItem can edit it")
permit (
  principal is Jans::User,
  action  == TodoApp::Action::"Delete",
  resource is TodoApp::TodoItem
)
when {
  principal has userinfo_token &&
  principal.userinfo_token has email &&
  principal.userinfo_token.email == resource.author
};