@id("Only gluu staff can add todo item and view todo item details")
permit (
  principal is Jans::User,
  action  in [TodoApp::Action::"ViewDetails",
  TodoApp::Action::"Add"],
  resource is TodoApp::TodoItem
)
when {
   principal has userinfo_token &&
   principal.userinfo_token has email &&
   principal.userinfo_token.email like "*gluu.org"
};