@id("")
permit(principal, action == AgamaLab::Action::"Edit", resource is AgamaLab::UIComponent) when { (principal["role"]) in ["admin", "developer"] };